name: Deploy to VPS

on:
  push:
    branches:
      - dev  # Replace 'main' with your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into VPS and Pull Changes
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          passphrase: ${{ secrets.PASS }}
          script: |
            cd ~/seastudy-backend  # Adjust this path as needed
            git pull origin dev
            go build -o seastudy-app
            systemctl stop seastudy.service
            systemctl start seastudy.service
